:root, html[data-theme='light']{
	--accent: #006341;
	--black: #000;
	--white: #fff;
	--red: #d30132;
}

html[data-theme='dark']{
	--accent: #006341;
	--black: #000;
	--white: #fff;	
	--red: #d30132;
}
*{
	scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/*==============================*/
body{
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: auto;
}
.font1{
	font-family: 'Roboto Condensed', sans-serif;
}
.bold{
	font-weight: 700;
}
#header-pc{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	width:100vw;
	height:5rem;
}
.button{
	border-radius:50px;
	width:7rem;
	height:2.5rem;
	border:2px solid var(--black);
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
#header-pc a{
	text-decoration:none;
	color: var(--black);
}
#header-pc a:hover{
	color:var(--accent);
}
#header-pc button{
	cursor: pointer;
}
.pc-header-container {
	box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
	margin-bottom:5rem;
	background-color: white;
	width:100%;
	height:6rem;
	position: fixed;
	display:flex;
	align-items: center;
    justify-content: space-around;
}
.pc-header-container img{
	height: 3rem;
	width: 3rem;
}
.left-header-pc{
	height:3rem;
	line-height:3rem;
	display: flex;
	width:40%;
}
.left-header-pc li{
	text-transform: uppercase!important;
    letter-spacing: .1em!important;
	float: left;
}
#header-pc li:not(:last-child){
	margin-right:1rem;
}
.header-right-pc{
	justify-content: flex-end;
	height: 3rem;
	line-height:3rem;
	width:40%;
	display: flex;
}
.header-right-pc span{
	font-size:1rem;
}
.nor{
	background: none;
	color: var(--black);
}
.rec{
	background: var(--black);
	color: var(--white);
}
.header-right-pc ul li{
	text-transform: uppercase!important;
    letter-spacing: .1em!important;
	float: left;
}
/**/
.hero-pc{
	margin: 2rem auto;
	display: flex;
	width:70%;
	height:40rem;
	justify-content: space-between;
}
.hero-text{
	width:60%;
	text-align: center;
	display:flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hero-text h1{
	font-size:2.3rem;
	font-weight:700;
	padding:1rem;
}
.hero-text p{
	font-weight:500;
	font-size:2rem;
	max-width:30rem;
	padding:1rem;
}
.hero1 button{
	border:2px var(--white) solid;
	background: none;
}
.hero-text a{
	text-decoration:none;
}
.hero1{
	color: var(--white);
	background-color: var(--red);
}
.hero1 a{
	color: var(--white);
}

.hero2{
	color: #1e3932;
	background:#01b288;
}
.hero2 a{
	color:#1e3932;
}
.hero2 button{
	border:2px #1e3932 solid;
	background: none;
}
.nor:hover{
	background: rgba(1,1,1,0.1);
}
/*==============================================*/
.footer-pc-container{
	box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
	font-size:1.3rem;
	justify-content: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:500;
	width:100%;
	display:flex;
}
.footer-pc-container h1{
	margin-top:3rem;
	font-size:1.3rem;
	text-transform: uppercase!important;
    letter-spacing: -.05em!important;
	font-weight: 700;
}
#nav-footer{
	display: flex;
}
#nav-footer * {
	padding-top:0.5rem;	
	margin-left:0.8rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#nav-footer a{
	text-decoration: none;
	color: var(--black);
	opacity: 0.5;
}
#nav-footer a:hover{
	opacity:1;
}